html, body {
    font: 12pt Roboto,Arial,sans-serif;
    height : 100%;
    margin: 0; 
    padding: 0;
}

#map-canvas {
    height: 100%;
}
#cards {
    width: 100%;
}
#filter-controls {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 1;
    background-color: white;
}
#filter-controls h1 {
    font: 12pt Roboto,Arial,sans-serif;
    padding: 3px 5px;
    margin: 0;
}
#filter-controls span {
    color: #619ce5;
    padding: 3px 5px;
}
#filter-controls .active {
    background-color: #619ce5;
    color: white;
}
#cards {
    background-color: white;
    position: absolute;
}
#cards.hidden {
    display: none;
}
#cards.bottom {
    bottom: 0px;
    border-bottom: 0px;
}
#cards.fullscreen {
    top: 0px;
    height: 100%;
}
.mass , .church {
    border-bottom: 1px solid #e6e6e6;
}
#church {
    position: relative;
}
#church .close {
    position: absolute;
    right: 0px;
    top: 9px;
    background-image: url('icon-close.png');
    width: 22px;
    height: 22px;
}
#church .down {
    position: absolute;
    right: 0px;
    bottom: 9px;
    background-image: url('icon-down.png');
    width: 22px;
    height: 22px;
}
#cards.fullscreen #church .down {
    display: none;
}
.church {
    margin: 0px 5px;
    padding: 9px 0px;
}
.bottom .church {
    border-bottom: 0px;    
}
.mass {
    margin: 0px 5px 0px 12px;
    padding: 6px 0px 6px 0px;
}
.diocese {
    color: #999;
}
.dayAnTime {
}