html, body {
    font: 14pt Roboto,Arial,sans-serif;
    height : 100%;
    background-color: #FFFFFF !important; 
    margin: 0; 
    padding: 0;
}

#map-canvas {
    height: 100%;
}
#cards {
    width: 100%;
}
#filter-controls {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    padding: 3px 5px;
    z-index: 1;
    background-color: white;
}
#filter-controls h1 {
    font: 14pt Roboto,Arial,sans-serif;
    margin: 0;
}
#filter-controls span {
    color: #619ce5;
}
#cards {
    display: none;
    padding: 3px 5px;
}
.reconciled {
    font-weight: bold;
}
.diocese {
    color: darkgray;
}
.dayAnTime {
    font-weight: bold;
}